// colors
$orange: #E27547
$grey: #393c46
$neon_yellow: #d8db25
    
html, body
    margin: 0
    padding: 0
    // overflow: hidden
    // background-color: #FDF8F1
    font-size: 20px
    font-family: sans-serif
    
    // background-image: linear-gradient(45deg, #485565, #7c6c71, #ae837c, #e09a87)
    background-image: linear-gradient(45deg, #195850, #736450, #b56a4f, #f76b4d)


main
    // display: block
section 
  height: 100vh
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

h1
    // color: #76949C
    color: #FEFEF2
    font-size: 10em
    // text-align: center
    z-index: 2
    opacity: 0.9
    // align-self: auto
    // margin: 0 2em
    
    // transform: skewX(180deg)

// .pad
//     margin: 2em
//     height: 30em
//     z-index: -1
//     background-color: #76949C
    



