html, body
    margin: 0 auto
    padding: 0
    // overflow: hidden
    background-color: #FDF8F1
    font-size: 20px


h1
    color: #76949C
    font-size: 20em
    text-align: center
    z-index: 2
    opacity: 1
    transform: skewX(180deg)

// .pad
//     margin: 2em
//     height: 30em
//     z-index: -1
//     background-color: #76949C
//     transition: width 2s 

// .pad:hover
//     opacity: 0.2
